
nav{
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
}
.brand-logo{
    margin-left: 15px;
}
.content{
    padding-right: 15px;
}
.filter-div{
    height: 500px;
}
.pagination li.active {
    background-color: #4db6ac;
}
.tabs .indicator {
    background-color: #1976d2;
}
.tabs .tab .a:focus, .tabs .tab a:focus.active{
    background: transparent;
}
#dashboard{
    margin-left: 15px;
}
#catalog {
    width: 250px;
}
@media only screen and (min-width : 992px) {
    .invisible-top {
        top: 65px;
    }
    main {
        padding-left: 270px;
        padding-top: 70px;
    }
}